{% extends "base.html" %}   

{% block 'head'%}{% endblock %}

{% block 'title' %}Identifique-se{% endblock %}

{% block 'dashboard' %}{% endblock %}

{% block 'body' %}

  <div class="container">
    <h1>Identifique-se</h1>
    <!--nome: <input type="text">
    senha: <input type="text"> <button type="submit">Log In</button>-->
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class='btn btn-success' value="Entrar">
    </form>        
  </div>  
{% endblock %}
