{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <!--<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">-->    
{% endblock %}

{% block 'title' %}Tupi Play - Jogar para revitalizar{% endblock %}

{% block 'dashboard' %}
    <!--<script src="{% static 'clientes/js/clientes.js' %}"></script>-->
{% endblock%}

{% block 'body' %}
<div class="container"style="background-color:#D9D9D9">
    <div class="row">
        <div onclick="alert('Você está na HomPage do Site" style="width:100%">
            <p style="color:#1D7D86;font-size:30px;text-align:center; ">HOME PAGE DO SITE TUPI PLAY </p>
            <br>
            <h1>Informações da Sessão</h1>
            <p>ID do Jogador: {{ id_jogador }}</p>
            <p>Nome do Jogador: {{ nm_jogador }}</p>
            <p>Nome do Avatar:{{ nm_avatar}}
        </div> 
    </div>
</div>
{% endblock%}
